// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// For Symia:
$color-user-1: #bfd8d5; // vert clair
$color-user-2: #b1bed5; // bleu clair
$color-chat: #2d4059; // bleu foncé
$color-font: #2d4059; // bleu foncé
$color-btn-chat:#1fdc9d; // vert flash



