.message {
  position: fixed;
  width: 335px;
  border-radius: 15px;
  background: #2d4059;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 20px 0 20px;
  text-align: center;
  top: 159px;
  right: 25px;
  display: none;
}

.display {
  display: initial ;
  display: grid;
}
.title-chat {
  color: #fff;
  line-height: 25px;
  margin-top: 0;
}
.message-user {
  display: grid;
  overflow: scroll;
  height:320px;
  margin-top: 20px;
}
.message-time {
  color: #fff;
  font-size: 10px;
}
.message-sender {
  width: 230px;
  text-align: left;
  min-height: 35px;
  border-radius: 0px 15px 15px 15px;
  background: #fff;
  margin-bottom: 15px;
  font-size: 12px;
  padding: 5px;
  border: 2px solid #a3e2da;
}
.message-receiver {
  justify-self: end;
  width: 230px;
  min-height: 35px;
  border-radius: 15px 0px 15px 15px;
  background: #fff;
  margin-bottom: 15px;
  font-size: 12px;
  padding: 5px;
  text-align: right;
  border: 2px solid #a4bbe2;
}
.button-close-chat {
  justify-self: end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $color-font;
  color: $color-font;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
}
#t-message {
  width: 295px;
  margin: 0 0 20px;
  border-radius: 0;
}
#time-left {
text-align: left;
}
#time-right {
text-align: right;
}
