.justify-center{
  text-align: center;
}
.show-container {
  width: 718px;
  height: 75vh;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 10px 25px;
  margin-top: 35px;
  display: flex;
}

.body-left {

}
.body-right {
  flex: 0 0 155px;
}
.body-right h4{
  margin-top: 35px;
}
.outline {
  border: 1px solid $color-chat;
}


span {
  font-family: $body-font;
}
.show-date {
  padding-bottom: 45px;
}

.day {
  font-size: 18px;
  text-transform: capitalize;

}
.date {
  font-size: 18px;
  padding: 0px 2px;
}
.month {
  font-size: 18px;
}
.font-size {
  font-size: 22px;
}

.show-photo img{
  width: 162px;
  height: 162px;
  border-radius: 50%;
  object-fit: cover;
}
.show-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.show-btn {
  text-align: right;
}
.inline {
  display: inline-block;
}
