.page-entiere {
  display: grid;
  grid-gap-rows: 20px;

  grid-gap-columns: 20px;

  justify-content: center;
  grid-template-columns: 55% 35%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "c w"
  "c w"
  "c w"
  "c w";
}


.page-entiere .custody-cards {
  grid-area: c;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
}

.page-entiere .custody-cards .one-card {

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  background-color: #bfd8d5;
  border-radius: 20px;
  grid-column: span 1;
  display: grid;

  grid-template-columns: 15% 25% 10% 10% 10% 30%;
  grid-template-rows: 50px 1fr 1fr;
  grid-gap-rows: 3px;
  grid-template-areas:
  "a b . g j h"
  "d d . e e ."
  ". . . f f .";



  #day-custody {
    grid-area: a;
    padding-top: 10px;
    padding-left: 10px;
  }

  #date-custody {
    grid-area: b;
    padding-top: 10px;
    font-size: 20px;
  }

  #button-custody-add {
    grid-area: g;
    margin-top:6px;


  }

  #button-custody-change {
    grid-area: j;
    margin-top:6px;

    margin-left: 10px;

  }

  #avatar-custody {
    grid-area: h;
    margin-top:6px;
    margin-left: 10px;


  }

  #user-custody {
    grid-area: d;
    margin-top:6px;

    margin-left: 10px;
  }

  #title-custody {
    grid-area: e;
  }

  #text-custody {
    grid-area: f;
  }

}

.page-entiere .window-chat {
  grid-area: w;
  text-align: center;
}
