.custodies-container {
  width: 500px;
  margin: auto auto;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  overflow: hidden;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 15px;
  transition: background 1s ease;
}


.bg-user-1 {
background: $color-user-1;
}

.bg-user-2 {
background: $color-user-2;
}

.outline-user-1 {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0px 1px;
  border: 2px solid $color-user-1;
}

.outline-user-2 {
  width: 43px;
    height: 43px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0px 1px;

border: 5px solid $color-user-2;
}

.custody {
width: 500px;
min-height: 120px;
max-height: 350px;
border-radius: 10px;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
margin-bottom: 10px;
margin-right: 10px;
padding: 5px 8px;
position: relative;
}

#user-custody {
  display: none;
}

.list-inline > li {
  padding-left: 0px;
  padding-right: 0px;
}

.button-container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}

.text-container {
  width: 300px;
}

.text-container  p {

}

.img-custody {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0px;
}

.img-container {
  margin-top: 22px;
}

.img-txt-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.month-container {

    width: 500px;
    margin: 0 auto;
}
.month-container > a {
  display: inline-flex;

}
p.display-month {
  background-color: #fff;
  border: 1px solid $color-chat;
  border-radius: 25px;
  text-align: center;
  padding: 2px 10px;
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;

}
.header-right {
  display: inline-flex;
  float: right;
}
.padding { padding: 0px 5px 0px 0px; }

.tag {
  background-color: $color-chat;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 25px;
  margin: 0px 0px 0px 10px;
  height: fit-content;
}
.container-tag {
  display: flex;
  align-items: center;
}
.thickness {
  border: 2px solid $color-chat;
}
 .icon {
  width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #2d4059;
    color: #2d4059;
    font-size: 14px;
    display: inline-flex;
 }

