.card-form{
  background-color: #bfd8d5;
  border-radius: 20px;
  width: 718px;
  height: 560px;
  margin: 0 auto;
  padding: 10px 25px;
  margin-top:35px;
  display:flex;
}

.form-container > h4 {
  text-align: center;
}

.button{

  top: 600px;
  width: 135px;
 }
// }button d'ajout d'event
label {
  font-size: 12px;
}



// }id de simple form

#custody_text{

margin:0px;

  height: 250px;
}
#custody_image {
  font-size: 12px;
  margin-bottom: 20px;
}
.label-photo {
  margin-top: 20px;
}
// }id de simple form

#image-label{
  position: absolute;
  top: 278px;
  width: 262px;
  margin: 45px;
  font-size: 12px;
  padding: 0px 0 0 0px;
  text-align: left;
  color: black;
  font-weight:lighter;
}

.form-group.date.required.custody_day_on.form-group-valid {
padding: 0px;
margin:0px;
}
// }class simple form

#custody_day_on_3i, #custody_day_on_2i, #custody_day_on_1i {
  width: 30%;
  display: inline-block;
}
div.date {
  padding: 0px;
}
.custody_day_on {
  margin-top: 0px;
  padding-top: 0px;
}
.form-group {
  margin-bottom: 0px;
}
textarea.form-control {
  padding: 5px;
}
