footer {
  width: 100%;
  display: inline-block;
  height: 30px;
  background-color: #EFEFEF;
  bottom: 0; left: 0; right: 0;
}

p{
  padding-left: 1%;
  color: black;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}




