// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
@import "header";
@import "custody";
@import "chat";
// For Symia:
@import "custodies";
@import "edit_custody";
@import "monthscustodies";

body {
  color: $color-font;
}

// h1 = title Symia
h1 {
  font-family: $headers-font;
  font-size: 60px;
}

// h2 = tagline
h2 {
  font-family: $body-font;
  font-size: 15px;
  line-height: 0px;
  opacity: 0.6;
  margin-top: 0px;
}

// h3 = date
h3 {
  font-family: $body-font;
  font-size: 30px;
}

// h4 = event's title
h4 {
  font-family: $headers-font;
  font-size: 30px;
  margin-bottom: 8px;
}

p {
  font-family: $body-font;
  font-size: 12px;
  line-height: 18px;
}

p.day {
  font-size: 10px;
}

a:link { color: $color-font; text-decoration: none; }          /* Liens non visités */
a:visited { color: $color-font; text-decoration: none; }     /* Liens visités */
a:hover { color: $color-font; text-decoration: none;}  /* Liens survolés */
a:active { color: $color-font; text-decoration: none;}
