.user-container{
  width: 790px;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
  overflow: hidden;
}

.user-information{
  height:254px;
  width:159px;
  position:absolute;
  text-align: center;
  margin:auto;
  top:92px
}
.position {
  position: absolute;
  bottom:0;
  margin-left: 62px;
}

.profile-title{
  margin-left: 140px;
}

.user{
  width:197px;
  height: 254px;
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 25px;
  margin-top: 35px;
  margin-right: 9px;
  padding: 5px 20px;
  position: relative;
}



.user-avatar{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0px 62px;
}


.child{
  width:256px;
  height: 156px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 25px;
  margin-top: 35px;
  background-color: #2d4059;
  margin-right: 10px;
  padding: 5px 20px;

}
.child-container{
  position:relative;
  height: 300px;

}

.child-info{
  height:74px;
  width:216px;
  position:absolute;
  margin-top: 29px;
  text-align: center;
  color: white;
}






