.user-information{
  height:45px;
  width:369px;
  position:absolute;
  margin-top: 18px;
  text-align: center;
}

.profile-title{
  margin-left: 140px;
}

#user-show{
  min-height: 446px;
  margin-left: 248px;
  width: 404px;
}

a{
  margin-top:558px;
}
