<button type="button" class="button-open-chat" data-toggle="tooltip" data-placement="top" title="Ouvrir le chat" >
  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
</button>

<button type="button" class="button-circle btn-close-chat" data-toggle="tooltip" data-placement="top" title="Fermer le chat" >
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
