<% if user == message.sender  %>
  <div class="message-wrapper sender">
    <div class="message-container">
      <div class="message-time" id="time-right">
        <span><%=time_ago_in_words(message.send_at) %></span>
      </div>
      <div class="message-content">
        <p ><%= message.body %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="message-wrapper receiver">
    <div class="message-container">
      <div class="message-time" id="time-left">
        <span><%=time_ago_in_words(message.send_at) %></span>
      </div>
      <div class="message-content">
        <p><%= message.body %></p>
      </div>
    </div>
  </div>
<% end %>
