<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<input type="submit" value="Valider" class="button">
<input type="submit" value="Envoyer" class="button chat">
<input type="text" value="nom de l'évènement" class="form-input">
<textarea name="" class="form-text">description de l'évènement</textarea>
<div class="avatar-1"></div>
<div class="avatar-2"></div>
<div class="add-event user-1 "><a href="#" class="add"></a></div>
<div class="add-event user-2"><a href="#" class="add"></a></div>
<div class="change-date user-1"><a href="#" class="change"></a></div>
<div class="change-date user-2"><a href="#" class="change"></a></div>
<div class="open-chat user-1"><a href="#" class="chat-link"></a></div>
<div class="open-chat user-2"><a href="#" class="chat-link"></a></div>
