// bouton valider pour formulaire
.button {
  width: 300px;
  height: 25px;
  border-radius: 12.5px;
  background: $color-font;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.btn-edit {
  margin-bottom: 5px;
}
.button:hover {
  background: #fff;
  border: 1px solid ;
  color: $color-font;
}

.chat {
  background: $color-btn-chat;
  width: 144px;
  text-align: center;
  color: #fff;
  border-radius: 12.5px;
  width: 210px;
  border: none;
  margin-bottom: 15px;
}
.chat:hover {
  background: #fff;
  width: 144px;
  color: $color-btn-chat;
  width: 210px;
}

.button-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid $color-font;
  color: $color-font;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
}
.button-circle:hover {
  background-color: transparent;
}
.btn-chat {
  position: absolute;
  top: 30px;
  right: 100px;
  border: 1px solid $color-font;
  color: #fff;
  background-color: $color-font;
}
.btn-chat:hover {
  border: 1px solid $color-font;
  color: $color-font;
  background-color: transparent;
}
.btn-previous {
position: absolute;
top: 50%;
left: 10px;
}
.btn-next {
position: absolute;
top: 50%;
right: 10px;
}
.fixed {
      position: fixed;

}
.right {right: 10px;}
.left {left: 10px;}
.tooltip {
  font-size: 12px;
  font-family: $body-font;

}
.button-open-chat {
  position: fixed;
  bottom:25px;
  right:20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: $color-font;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  position: relative;
  &:before {
    content: "";
    height: 8px;
    min-width: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  &:after {
    content: "";
    height: 12px;
    min-width: 12px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    animation: ping 0.8s ease-in-out infinite both;
  }
}

@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
.log-out {
  height: 28px;
  width: 28px;
  border: 1px solid $color-chat;
  border-radius: 25px;
  font-size: 15px;
  display: flex;
}
.button-today {
  font: $body-font;
  background-color: $color-chat;
  color:#fff;
  border-radius: 25px;
  // text-align: center;
  padding: 3px 15px;
  font-size: 15px;
  // text-transform: capitalize;
  display: flex;
  // justify-content: space-between;
  // font-weight: 100;
  margin-right: 5px;
}
