// bouton valider pour formulaire
.button {
  width: 300px;
  height: 25px;
  border-radius: 12.5px;
  background: $color-font;
  color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.button:hover {
  background: #fff;
  border: 1px solid ;
  color: $color-font;
}

.chat {
  background: $color-btn-chat;
  width: 144px;
  text-align: center;
  margin-top: 27px;
}
.chat:hover {
  background: #fff;
  width: 144px;
  color: $color-btn-chat;
}

.button-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid $color-font;
  color: $color-font;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
}
.button-circle:hover {
  background-color: transparent;
}
.btn-chat {
  position: absolute;
  top: 30px;
  right: 100px;
  border: 1px solid $color-font;
  color: #fff;
  background-color: $color-font;
}
.btn-chat:hover {
  border: 1px solid $color-font;
  color: $color-font;
  background-color: transparent;
}
.btn-previous {
position: absolute;
top: 394px;
left: 10px;
}
.btn-next {
position: absolute;
top: 394px;
right: 10px;
}
.tooltip {
  font-size: 12px;
  font-family: $body-font;
}
