.form-control {
  border-radius: 12.5px;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 300px;
  height: 25px;
  background: #fff;
  text-align: left;

  border: 1px solid #d5d8dd;
  box-shadow: none;
  margin-bottom:20px;
}


// }simple form class

.form-text {
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 25px;
  font-size: 12px;
  margin: 0;
  padding: 0px;
  text-align: left;

  border: none;
 }
// }simple form class

.form-control-label.string.optional{
  font-size: 12px;
  margin: 0;
  padding: 0px;
  text-align: left;
  color: black;
  font-weight:lighter;
}
// }simple form class

.form-control-label.text.optional{
  font-size: 12px;
  margin: 0;
  padding: 0px;
  text-align: left;
  color: black;
  font-weight:lighter;
}
// }simple form class

.form-control-label.date.required{
  font-size: 12px;
  margin: 0;
  padding: 0px;
  text-align: left;
  color: black;
  font-weight:lighter;
}
// }class simple form

.main-container {
  width: 718px;
  height: 560px;
  margin: 0 auto;
}
.form-container {
  width: 352px;
  height: 560px;
  background-color: #fff;
  border: 1px solid $color-chat;
  max-height: 100%;
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 5px 20px;
  margin: 0 auto;

}
