.main-container {
  width: 718px;
  height: 560px;
  margin: auto auto;
  padding: auto auto;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  height: 90vh;
}

.form-container {
  width: 352px;
  height: auto;
  background-color: #fff;
  border: 1px solid $color-chat;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 25px;
  margin: 0 auto;
}

.form-container > h4 {
  text-align: center;
}

.form-control {
  border-radius: 12.5px;
  font-size: 12px;
  width: 300px;
  height: 25px;
  background: #fff;
  text-align: left;
  align-items: center;
  border: 1px solid #d5d8dd;
  box-shadow: none;
  margin-bottom: 20px;
}

.form-control-label.date.required {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
  color: black;
  font-weight:lighter;
}

.form-text {
  width: 300px;
  height: 250px;
  background: #fff;
  border-radius: 25px;
  font-size: 12px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  border: none;
 }

label {
  font-size: 15px;
}

.label-photo {
  display: none;
}

#custody_text{
  margin: 0px;
  height: 200px;
}

#custody_image {
  font-size: 12px;
  margin-bottom: 20px;
}

#image-label{
  position: absolute;
  top: 278px;
  width: 262px;
  margin: 45px;
  font-size: 12px;
  padding: 0px 0 0 0px;
  text-align: left;
  color: black;
  font-weight:lighter;
}
#custody_media {
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.form-group {
      margin-bottom: 20px
}
input.btn {
  width: 300px;
  height: 25px;
  border-radius: 12.5px;
  background: $color-font;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
input.form-check-input {
  margin-right: 5px;
}
label.form-check-label {
      margin: 0px;
}
.form-container a {
  font-size: 15px;
  opacity: 0.6;
}
